.leaderboard-card {
  /* background: linear-gradient(135deg, #9624dd, #181717) !important; */
  border: 1px solid #9624dd36;
  border-radius: 12px;
}
.text-pulple{
  color: #9624dd;
}

/* Make the container fill the viewport but still scroll */
.home-container {
  min-height: 100vh;
  overflow-y: auto;
  padding-bottom: 80px;
  /* Leave space for fixed-bottom nav */
}

/* Optional: Prevent content underlap */
.fixed-bottom {
  z-index: 1000;
}
.text-info{
  color: #9624dd;
} 

.rank-circle {
  /* background: linear-gradient(135deg, #181717, #9624dd);
  border-radius: 50px; */
  padding: 6px 12px;
  color: #9624dd;
}

/* Hide scrollbar for Webkit (Chrome, Edge, Safari) */
.home-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.home-container {
  scrollbar-width: none;
}

/* General scrollable behavior */
.home-container {
  min-height: 100vh;
  overflow-y: auto;
  padding-bottom: 80px;
}



/* ==================PROFILE  */
.gradient-input {
  background: linear-gradient(to right, #9624dd, #181717) !important;
  /* Blue to white */
  color: #f1f1f1;
  /* Black text for better readability */
  border: 1px solid #ccc;
  font-weight: 500;
}