.home-container {
  height: 100vh;
  overflow: hidden;
  /* background: radial-gradient(circle at center, #111, #000); */
  background: linear-gradient(0deg, #030308, #04192e) !important;
  color: white;
  position: relative;
  /* background-image: url('../image/home-bg.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2; */
}

.bg-dark {
  background: linear-gradient(280deg, #030308, #04192e) !important;
}

.btn-dark {
  --bs-btn-bg: linear-gradient(160deg, #030308, #04192e) !important;
  --bs-btn-border-color: none !important;
}

.home-content {
  /* overflow-y: auto; */
  padding: 20px 10px;
  margin-top: 70px;
  margin-bottom: 80px;
}

.power-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.0);
  /* Transparent dark background */
  border: 2px solid white;
  box-shadow: 0 0 15px #05111d, 0 0 30px #1061b3;
  /* Purple glow */
  backdrop-filter: blur(3px);
  /* Optional: adds soft blur behind the circle */

}


.center-icon {
  position: relative;
  top: 0px;
  left: 12px;
}

/* .icon-wrapper {
  width: 60px;
  height: 60px;
  background: linear-gradient(to right, #0f0f3e, #1658e5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 15px rgba(22, 88, 229, 0.5);
  transition: transform 0.3s ease;
} */

.icon-wrapper:hover {
  transform: scale(1.1);
}


.coin-animated {
  animation: pulseCoin 0.5s ease-out;
  color: #00ffcc;
}

.bg-black {
  background: linear-gradient(180deg, #030308, #04192e) !important
}

.bg-dark_1 {
  /* background: linear-gradient(to right, #000000, #000000) !important; */
  padding: 12px 50px;
  border-radius: 30px 30px 0px 0px;
  border-top: 1px solid #001f3f;
}

.bg-dark_2 {
  /* background: linear-gradient(to left, #000000, #000000) !important; */
  border-top: 1px solid #001f3f;
  padding: 12px 50px;
  border-radius: 30px 30px 0px 0px;

}

.btn-primary_2 {
  background: linear-gradient(260deg, #0a0a23, #155fa8) !important;
  color: rgb(180, 176, 176);
  font-weight: 500;
  border: none;
}


.py-1 {
  padding-top: 9px !important;
  padding-bottom: .25rem !important;
}






@keyframes pulseCoin {
  0% {
    transform: scale(1);
    color: #ffffff;
  }

  50% {
    transform: scale(1.3);
    color: #00ffcc;
  }

  100% {
    transform: scale(1);
    color: #ffffff;
  }
}



.coin-animated {
  animation: coinFlash 0.5s ease;
}

.mtb-5{
  margin-top: 6rem;
}